<div class="row" style="padding-bottom: 15%;">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Registro
            </div>
            <div class="card-body">
                <form (submit)="signupdrive()">
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.nombres" name="nombres" class="form-control" pattern="[a-zA-Z| ]*" placeholder="Nombre" #nombres="ngModel" minlength="4" required autofocus>
                    </div>
                    <mat-error *ngIf="nombres?.error?.required"> Must be filled</mat-error>
                    <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="nombres.errors.required">
                            Debe ingresar su nombre.
                        </div>
                        <div *ngIf="nombres.errors.minlength">
                            El nombre debe tener al menos 4 caracteres.
                        </div>
                        <div *ngIf="nombres.errors.pattern">
                            Solo incluya letras en el nombre.
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.apellidos" name="apellidos" class="form-control" pattern="[a-zA-Z| ]*" #apellidos="ngModel" minlength="4" placeholder="Apellidos" required>
                    </div>
                        <div *ngIf="apellidos.invalid && (nombres.dirty || apellidos.touched)" class="alert alert-warning" role="alert">

                            <div *ngIf="apellidos.errors.required">
                                Debe ingresar su apellido.
                            </div>
                            <div *ngIf="apellidos.errors.minlength">
                                El apellido debe tener al menos 4 caracteres.
                            </div>
                            <div *ngIf="apellidos.errors.pattern">
                                Solo incluya letras en sus apellidos.
                            </div>
                        </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate  type="email" [(ngModel)]="user.email" name="email" class="form-control"  minlength="13" #correo="ngModel" placeholder="Correo Institucional" required>
                    </div>
                        <div *ngIf="correo.invalid && (nombres.dirty || correo.touched)" class="alert alert-warning" role="alert">
                            <div *ngIf="correo.errors.required">
                                Debe ingresar el correo electrónico.
                            </div>
                            <div *ngIf="correo.errors.minlength">
                                El correo debe tener formato correcto.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" mdbInput mdbValidate [(ngModel)]="user.numeroCuenta" name="numeroCuenta" maxlength="11" pattern="[0-9]*" #cuenta="ngModel" class="form-control" placeholder="Numero de Cuenta" required>
                        </div>
                            <div *ngIf="cuenta.invalid && (nombres.dirty || cuenta.touched)" class="alert alert-warning" role="alert">
    
                                <div *ngIf="cuenta.errors.required">
                                    Debe ingresar su número de cuenta.
                                </div>
                                <div *ngIf="cuenta.errors.maxlength">
                                    El número de cuenta no debe pasar los 11 dígitos.
                                </div>
                                <div *ngIf="cuenta.errors.pattern">
                                    El número de cuenta solo puede incluir números.
                                </div>
                            </div>
                        <div class="form-group">
                            <input type="text" mdbInput mdbValidate [(ngModel)]="user.identidad" name="identidad" maxlength="13" pattern="[0-9]*" #identidad="ngModel" class="form-control" placeholder="Número de identidad" required>
                        </div>
                            <div *ngIf="identidad.invalid && (nombres.dirty || identidad.touched)" class="alert alert-warning" role="alert">           
                                <div *ngIf="identidad.errors.required">
                                    Debe ingresar su número de identidad sin guiones.
                                </div>
                                <div *ngIf="identidad.errors.maxlength">
                                    El número de identidad no debe pasar los 13 dígitos.
                                </div>
                                <div *ngIf="identidad.errors.pattern">
                                    El numero de identidad sólo puede incluir números.
                                </div>
                            </div> 
                        <div [formGroup]="signup">
                            <div class="form-group input-group">
                                <input mdbInput mdbValidate (change)="verify()" type="password" mdbActive  id="defaultLoginFormPassword" name="password" [type]="hide2 ? 'password' : 'text'" formControlName="password" class="form-control" placeholder="Contraseña" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> <mdb-icon fas icon="eye-slash" *ngIf="hide2==true else eyeOpen" (click)="hide2 = !hide2"></mdb-icon></span>
                                        <ng-template #eyeOpen >
                                            <mdb-icon fas icon="eye" (click)="hide2 = !hide2"></mdb-icon>
                                        </ng-template>
                                </div>
                                
                            </div>
                            <div [innerHTML]="template"></div>
                            <div class="form-group input-group"> 
                                <input mdbInput mdbValidate type="password" mdbActive  id="defaultLoginFormPassword1" name="vpassword" [type]="hide ? 'password' : 'text'" formControlName="vpassword" class="form-control" placeholder="Confirma tu Contraseña" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"> <mdb-icon fas icon="eye-slash" *ngIf="hide==true else eyeOpen2" (click)="hide = !hide"></mdb-icon></span>
                                        <ng-template #eyeOpen2 >
                                            <mdb-icon fas icon="eye" (click)="hide = !hide"></mdb-icon>
                                        </ng-template>
                                </div>                       
                            </div>
                        </div>
                        <div class="form-group">
                            <input mdbInput mdbValidate  type="text" [(ngModel)]="user.telefono" name="telefono" class="form-control" #telefono= "ngModel" maxlength="8" minlength="8" pattern="[0-9]*" placeholder="Número de Teléfono" required autofocus>
                        </div>
                        <div *ngIf="telefono.invalid && (nombres.dirty || telefono.touched)" class="alert alert-warning" role="alert">
                            <div *ngIf="telefono.errors.required">
                                Debe ingresar su número de telefono.
                            </div>
                            <div *ngIf="telefono.errors.minlength">
                                El teléfono no debe ser menor de los 8 dígitos.
                            </div>
                            <div *ngIf="telefono.errors.maxlength">
                                El teléfono no debe pasar de los 8 dígitos.
                            </div>
                            <div *ngIf="telefono.errors.pattern">
                                El número de teléfono solo puede incluir números.
                            </div>
                        </div>
                        <div class="form-group" style='margin-top: 20px'>
                            <label for = "facultad">Facultad</label>
                            <ejs-combobox id='comboelement' [dataSource]='data' [(ngModel)] = "user.facultad" name="facultad" class ="form-control" placeholder = 'Seleccione la facultad'></ejs-combobox>
                        </div>
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input type="date" [(ngModel)]="user.fechaNacimiento" name="fechaNacimiento" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="user.direccion" name="direccion" class="form-control" placeholder="Barrio O Colonia" required autofocus>
                        </div>
                        <div class="form-group">
                            Género:<br>
                            <label>
                              Femenino  <input type="radio" value="F" [(ngModel)]="user.sexo" name = 'sexo' />
                            </label>
                            &nbsp;
                            <label>
                              Masculino <input type="radio" value="M" [(ngModel)]="user.sexo" name = 'sexo'/>
                            </label>
                        </div>
                    <div class="card-header" style="text-align: center;">
                         Datos del Vehiculo
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.marca" name="marca" class="form-control" pattern="[a-zA-Z| ]*" placeholder="Marca" #marca="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || marca.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="marca.errors.required">
                            Debe ingresar la marca
                        </div>
                        <div *ngIf="marca.errors.pattern">
                            Solo incluya letras.
                        </div>
                    </div>   
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.modelo" name="modelo" class="form-control" placeholder="Modelo" #modelo="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || modelo.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="modelo.errors.required">
                            Debe ingresar el modelo
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.tipo" name="tipo" class="form-control" pattern="[a-zA-Z| ]*" placeholder="Tipo de vehiculo" #tipo="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || tipo.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="tipo.errors.required">
                            Debe ingresar el tipo de vehiculo
                        </div>
                        <div *ngIf="tipo.errors.pattern">
                            Solo incluya letras.
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.color" name="color" class="form-control" pattern="[a-zA-Z| ]*" placeholder="Color" #color="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || color.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="color.errors.required">
                            Debe ingresar el color
                        </div>
                        <div *ngIf="color.errors.pattern">
                            Solo incluya letras.
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.motor" name="motor" class="form-control" placeholder="#Motor o #VIN de la revisión" #motor="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || motor.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="motor.errors.required">
                            Debe ingresar el numero de motor o VIN de su vehiculo
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.anio" name="anio" class="form-control" pattern="[0-9]*" minlength="4" placeholder="Año" #anio="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || anio.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="anio.errors.required">
                            Debe ingresar el año
                        </div>
                        <div *ngIf="anio.errors.minlength">
                            El año debe tener 4 caracteres.
                        </div>
                        <div *ngIf="anio.errors.pattern">
                            El año solo puede incluir números.
                        </div>
                    </div>
                    <div class="form-group">
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.placa" name="placa" class="form-control" placeholder="Número de Placa" #placa="ngModel" required autofocus>
                    </div>
                    <div *ngIf="nombres.invalid && (nombres.dirty || placa.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="placa.errors.required">
                            Debe ingresar el número de placa
                        </div>
                    </div>
                    <div class="card-header" style="text-align: left;">
                        Adjunte imagen de su licencia
                        <div class="file profile-edit-btn" >
                            <input type="file" name="file" (change)="createFormData($event)" accept="image/*"  required autofocus />
                        </div>
                    </div>
                    <div class="card-header" style="text-align: left;">
                        Adjunte imagen de su revisión
                        <div class="file profile-edit-btn" >
                            <input type="file" name="file" (change)="createFormDatar($event)" accept="image/*"  required autofocus />
                        </div>
                    </div>
                    <div class="card-header" style="text-align: left;">
                        Adjunte imagen de su vehículo en donde se pueda visualizar la placa
                        <div class="file profile-edit-btn" >
                            <input type="file" name="file" (change)="createFormDatap($event)" accept="image/*"  required autofocus />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Registro</button>
                </form>
            </div>
        </div>
    </div>
</div>
