<div class="row" style="padding-bottom: 15%;">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                Ingreso de rutas
            </div>
            <div class="card-body">

                <form  >
                    <div class="form-group" style='margin-top: 20px'>
                        <label for = "tipoDestino">Tipo de destino</label>
                        <ejs-combobox id='comboelement' [dataSource]='destino' [(ngModel)] = "user.tipoDestino" name="tipoDestino" class ="form-control" placeholder = 'Seleccione tipo de destino' #tipoDestino="ngModel"></ejs-combobox>
                        </div>
                    <div class="card-header" style="text-align: center;">

                       Ingrese la(s) colonias o puntos de referencia por donde pasará
        
                    </div>
                    
                    <div class="form-group">
                        
                        <input mdbInput mdbValidate type="text" [(ngModel)]="user.ruta" name="ruta" class="form-control"  placeholder="Ruta" #ruta="ngModel" minlength="4" required autofocus>
                    </div>
                    <div *ngIf="ruta.invalid && (ruta.dirty || ruta.touched)" class="alert alert-warning" role="alert">
                        <div *ngIf="ruta.errors.required">
                            Debe ingresar su ruta nueva.
                        </div>
                        <div *ngIf="ruta.errors.minlength">
                           La ruta debe tener al menos 4 caracteres.
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label>Hora de Salida en HH:MM (24 horas)</label>
                        <input input type="text" [(ngModel)]="user.hora" name="hora" class="form-control" #hora="ngModel" required autofocus>
                    </div>
                    <div class="form-group">
                        <label>Ingrese los asientos disponibles en su vehículo</label>
                        <input input type="number" [(ngModel)]="user.asientos" name="asientos" class="form-control" #hora="ngModel" pattern="[0-9]+" required autofocus>
                    </div>
                    
                    
                    <button type="button" (click)="Ruta()"   class="btn btn-block btn-primary">Agregar Ruta</button>
                    <br>
                    <button type= "button" routerLink = "/ver-rutas" class="btn btn-block btn-primary">Salir</button>
                </form>
            </div>
        </div>
    </div>
</div>
