 <div class="row" style="padding-bottom:15%;">
    <div class="col-sm-4 mx-auto pad2y">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <b>Cambio de contraseña</b>
            </div>
            <div class="card-body">
                <form (submit)="changePass() "[formGroup]="changePassw" >
                    <div class="form-group input-group"> 
                        <input mdbInput mdbValidate type="password" mdbActive  id="defaultLoginFormPassword1" name="contrasenaActual" [type]="hide ? 'password' : 'text'" formControlName="contrasenaActual" class="form-control" placeholder="Contraseña Actual" aria-label="Recipient's username" aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon"> <mdb-icon fas icon="eye-slash" *ngIf="hide==true else eyeOpen" (click)="hide = !hide"></mdb-icon></span>
                                <ng-template #eyeOpen >
                                    <mdb-icon fas icon="eye" (click)="hide = !hide"></mdb-icon>
                                </ng-template>
                        </div>                       
                    </div>
                    <div class="form-group input-group"> 
                        <input mdbInput mdbValidate (change)="verify()" type="password" mdbActive  id="defaultLoginFormPassword" name="contrasenaNueva1" [type]="hide2 ? 'password' : 'text'" formControlName="contrasenaNueva1" class="form-control" placeholder="Contraseña Nueva" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"> <mdb-icon fas icon="eye-slash" *ngIf="hide2==true else eyeOpen2" (click)="hide2 = !hide2"></mdb-icon></span>
                                <ng-template #eyeOpen2 >
                                    <mdb-icon fas icon="eye" (click)="hide2 = !hide2"></mdb-icon>
                                </ng-template>
                        </div>                       
                    </div>
                    <div [innerHTML]="template"></div>
                    <div class="form-group input-group"> 
                        <input mdbInput mdbValidate type="password" mdbActive  id="defaultLoginFormPassword2" name="contrasenaNueva2" [type]="hide3 ? 'password' : 'text'" formControlName="contrasenaNueva2" class="form-control" placeholder="Confirme Su Contraseña Nueva" aria-label="Recipient's username" aria-describedby="basic-addon3">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon3"> <mdb-icon fas icon="eye-slash" *ngIf="hide3==true else eyeOpen3" (click)="hide3 = !hide3"></mdb-icon></span>
                                <ng-template #eyeOpen3 >
                                    <mdb-icon fas icon="eye" (click)="hide3 = !hide3"></mdb-icon>
                                </ng-template>
                        </div>                       
                    </div>
                    <button type="submit" mdbBtn color="info" block="true">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
</div>

