<div style=" padding-bottom: 15%;">
    <div *ngIf="this.authService.loggedInAdmin()" class="container" style="background-color: rgb(207, 204, 200); ">
        <h2 class="text-center">Usuarios Jalón Universitario</h2>
        <div class="row" style="padding-top: 1%;">
            <div class="col-md-5 ml-auto" style="padding-bottom: 1%;">
                <div style=" background-color:white;">
                    <h2 class="text-center">Usuarios Registrados</h2>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="false"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="registrados()">
                    </canvas>
                    <div class="text-center">
                        <button mdbBtn type="button" color="default" rounded="true" mdbWavesEffect id="boton" (click)="updateChart()" class="text-center">Obtener Datos de Usuarios registrados</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5 mr-auto" style="padding-bottom: 1%;">
                <div style="display: block;background-color:white;">
                    <h2 class="text-center">Usuarios Activos</h2>
                    <canvas mdbChart
                        [chartType]="chartType1"
                        [datasets]="chartDatasets1"
                        [labels]="chartLabels"
                        [colors]="chartColors1"
                        [options]="chartOptions1"
                        [legend]="false"
                        (chartHover)="chartHovered1($event)"
                        (chartClick)="activos()">
                    </canvas>
                    <div class="text-center">
                        <button mdbBtn type="button" color="success" rounded="true" mdbWavesEffect (click)="updateChartActive()" class="text-center">Obtener Datos de Usuarios Activos</button>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <!--Segundos cuadros-->
        <div class="row" style="padding-top: 1%;">
            <div class="col-md-5 ml-auto" style="padding-bottom: 1%;">
                <div style=" background-color:white;">
                    <h2 class="text-center">Usuarios Inactivos</h2>
                    <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets2"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="false"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="inactivos()">
                    </canvas>
                    <div class="text-center">
                        <button mdbBtn type="button" color="warning" rounded="true" mdbWavesEffect id="boton" (click)="updateChartInactive()" class="text-center">Obtener Datos de Usuarios Inactivos</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5 mr-auto" style="padding-bottom: 1%;">
                <div style="display: block;background-color:white;">
                    <h2 class="text-center">Usuarios Bloqueados</h2>
                    <canvas mdbChart
                        [chartType]="chartType1"
                        [datasets]="chartDatasets3"
                        [labels]="chartLabels"
                        [colors]="chartColors1"
                        [options]="chartOptions1"
                        [legend]="false"
                        (chartHover)="chartHovered1($event)"
                        (chartClick)="bloqueados()">
                    </canvas>
                    <div class="text-center">
                        <button mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect (click)="updateChartBlocked()" class="text-center">Obtener Datos de Usuarios Bloqueados</button>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
      </div>
</div>