<div class="row" style="padding: 10%;">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Verificación de Correo
            </div>
            <div class="card-body">
                <form (submit)="verification()" >
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.codigo" name="codigo" class="form-control" placeholder="Ingrese su código de verificación" required autofocus>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Verificar</button>
                </form>
            </div>
        </div>
    </div>
</div>
