<div style="padding-bottom: 15%">
    <div *ngIf="this.authService.loggedInAdmin()" class="container emp-driver">
        <form >   
                <div class="card-header" style="text-align: center;">
                    Datos del conductor
                </div>
                <div class="row">
                        <div class="col-md-6" style="padding-bottom: 4%; padding-top: 5%;">
                            <div class="driver-img">
                                <img [src]="imgDriver" alt="" class="img-fluid"/>
                                <!--div class="file btn btn-lg btn-primary">
                                    Cambiar foto
                                    <input type="file" name="file"/>
                                </div-->
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="tab-content driver-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Nombre:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p> {{driver.nombres}} {{driver.apellidos}} </p>
                                                </div>                         
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Facultad:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.facultad}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Direccion:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.direccion}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Email:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Numero de cuenta:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.numeroCuenta}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Numero de telefono:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.telefono}}</p>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Fecha de nacimiento:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.fechaNacimiento}}</p>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Edad:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.edad}} años</p>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Estado:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.estado}}</p>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Fecha de registro:</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>{{driver.mesRegistro}}-{{driver.anioRegistro}}</p>
                                                </div>
                                               
                                            </div>         
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>

            <br><br><br>  

            <div class="card-header" style="text-align: center;">
                Datos del vehículo
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-bottom: 4%; padding-top: 5%;">
                    <div class="driver-img">
                        <div style="width: 100%; height: 300px;">
                            <img [src]="imgLicencia" alt=""class="img-fluid" style="padding-bottom: 4%;" />
                        </div>
                        <div style="width: 100%; height: 300px;">
                            <img [src]="imgRevision" alt="" class="img-fluid " style="padding-bottom: 4%; "/>
                        </div>
                        <div style="width: 100%; height: 300px;">
                            <img [src]="imgPlaca" alt="" class="img-fluid" style="padding-bottom: 4%; " />
                        </div>
                        
                        
                        <!--div class="file btn btn-lg btn-primary">
                            Cambiar foto
                            <input type="file" name="file"/>
                        </div-->
                    </div>
                </div>
            <div class="row text-right">
                <div class="col-md-10">
                    <div class="tab-content driver-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <big>
                                    <div class="d-none d-lg-block">
                                        <br><br><br><br><br><br>
                                    </div>
                                    
                                    <div class="row text-left">
                                        <div class="col-md-6" >
                                            <label><h4>Marca:</h4></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> {{driver.marca}}</p>
                                        </div>                         
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <br><br>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-md-6">
                                            <label><h4>Modelo:</h4></label>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <p>  &nbsp; {{driver.modelo}}</p>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <br><br>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-md-6">
                                            <label><h4>Tipo:</h4></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{driver.tipo}}</p>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <br><br>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-md-6">
                                            <label><h4>Color:</h4></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{driver.color}}</p>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <br><br>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-md-6">
                                            <label><h4>Año:</h4></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{driver.anio}}</p>
                                        </div>  
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <br><br>
                                    </div>
                                    <div class="row text-left">
                                        <div class="col-md-6">
                                            <label><h4>Placa:</h4></label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{driver.placa}}</p>
                                        </div>
                                    </div>  
                            </big>          
                        </div>
                        
                    </div>
                </div>
            </div>
                
        </div>
        <!-- fin del div 2-->
        <div class="text-center">
            <button type="button" (click)="notificacion()"  class="btn btn-success btn-lg btn-block" > Verificar</button>
        </div>
         
        </form>           
    </div>
</div>
