<div class="row" style="padding-bottom:15%;">
    <div class="col-md-4 mx-auto pad2y">
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <b>Recuperar Contraseña</b>
            </div>
            <div class="card-body">
                <form (submit)="recPass()" >
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-primary">Recuperar cuenta</button>
                </form>
            </div>
        </div>
    </div>
</div>