div.gallery {
 
    border: 0px solid rgb(7, 3, 41);
    float: left;
    width: 300px;
  
   

    
  
   
  }
  
  /*div.gallery:hover {
    border: 1px solid rgb(177, 189, 10);

  }*/
  
  div.gallery img {
    width: 150%;
    height: 100;
    margin-left: 450px;
    padding-top: 10px;
  }
  
  div.desc {
    padding-top: 10px;
    text-align: center;
  }
  div.gallery button{
    width: 150%;
    margin-left: 450px;
    

  }
 
  